*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*_cert.der
.jks
.pem
/app/debug/app-debug.aab
/app/release/app-release.aab
/upload-keystore.jks
/upload_certificate.pem
/.idea/uiDesigner.xml

